VITE_SUPABASE_URL=https://frguwrfbckfklabpbqsm.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZyZ3V3cmZiY2tma2xhYnBicXNtIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODg5MzI2NzgsImV4cCI6MjEwNDUwODY3OH0.IRwFP2aSR2s-KJ9m0wjKKITJmQsgYKLdgEDTjNFAV0A
